<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Nosotros</title>
</head>
<body>
  <nav>
    <a href="{% url 'home:about_page' %}">Nosotros</a>
    <a href="{% url 'home:more_page' %}">Mas+</a>
    <a href="{% url 'home:contact_page' %}">Contactos</a>
  <h1><a href="{% url 'home:home' %}"><img src="logo.png" alt="Logo de tuCuotaRD" width="100" height="100"></a></h1>
  </nav>

  <div>
    <h1>Nosotros:</h1>
      <ul>
        <li><a href="#we">Que somos?</a></li>
        <li><a href="#why">Para que estamos aqui contigo?</a></li>
        <li><a href="#not">Por que no?</a></li>
      </ul>
  </div>

    <h2 id="we">Que somos?</h2>
      <p>TuCuotaRD es una página web diseñada para ayudar a los usuarios a calcular, registrar y hacer
        seguimiento de sus préstamos.</p>
      <h4>Calcular:</h4>
        <p>Con un acceso rápido a nuestra plataforma, podrás ingresar la información de tu préstamo y obtener un
          resumen detallado sin necesidad de registrarte.</p>
      <h4>Registrar:</h4>
        <p>TuCuotaRD te ofrece la posibilidad de registrarte para guardar y gestionar todos tus préstamos.
          Una vez registrado,
          podrás utilizar diversas herramientas que te ayudarán a visualizar y planificar de forma más
          efectiva tus pagos, abonos y otras acciones relacionadas."</p>
      <h4>Hacer:</h4>
        <p>Podrás hacer seguimiento de tus préstamos para tener una idea clara de cuándo debes pagar,
          cuánto de tu pago se destina al capital, cuánto a los intereses y otros detalles importantes.</p>

    <h2 id="why">Para que estamos aqui contigo?</h2>
      <p>En TuCuotaRD, estamos aquí para ayudarte a tomar el control de tus préstamos y finanzas personales.</p>
      <p>Sabemos que manejar pagos, intereses y abonos puede ser complicado,
        por eso te ofrecemos una plataforma simple y accesible que te permite:</p>
          <ul>
            <li>Calcular tus pagos de forma rápida.</li>
            <li>Registrar y seguir cada uno de tus préstamos.</li>
            <li>Entender cómo se divide cada pago entre capital e intereses.</li>
            <li>Explorar distintas formas de pago y abono para tomar mejores decisiones financieras.</li>
          </ul>
    <h2 id="not">Por que no?</h2>
      <h4>Regístrate en TuCuotaRD y déjanos ayudarte a organizar tus préstamos</h4>
        <p>Sabemos lo difícil que puede ser manejar múltiples responsabilidades, y entendemos que tus
          préstamos son solo una más entre muchas.
          Por eso, en TuCuotaRD estamos aquí para ofrecerte la organización financiera que necesitas.</p>
        <p>Con tu registro, podrás gestionar tus préstamos de forma ordenada, clara y sencilla,
          para que puedas enfocarte en lo que realmente importa.</p>


</body>
</html>