{% extends 'base.html' %}

{% block title %}Home page{% endblock title %}

{% block content %}

<main>
  <h1>TuCuotaRD</h1>
    <p>Calcula tus préstamos de forma fácil y rápida con nosotros.</p>
</main>
<h3>Selecciona el tipo de préstamo que deseas calcular:</h3>
  <div id="bank">
    <h4>Prestamos Bancario</h4>
    <a href="{% url 'loan:bank' %}">
      <img src="bank.jpeg" alt="bank" width="100" height="100">
    </a>
  </div>
  <div id="no_bank">
    <h4>Prestamos no Bancario</h4>
    <br>
    <a href="{% url 'loan:no_bank' %}">
      <img src="no_bank.jpeg" alt="no_bank" width="100" height="100">
    </a>
    
  </div>
{% endblock content %}

