{% extends 'base.html' %}
{% load humanize %}
{% block title %}Details{% endblock %}

{% block content %}
<div style="line-heights: 1.0;">
  <h3 style="margin: 0; padding: 0;">{{forum.title | capfirst }}</h3>
  <small style="margin: 0; padding: 0; color: gray;">{{ forum.owner.username }}</small> |
  <small style="margin: 0; padding: 0; color: gray;">{{forum.updated_at| naturaltime }}</small>
</div>
<aside>
  {% if forum.owner == request.user %}
    <a href="{% url 'forum:forum_update' forum.id %}">E</i></a> |
    <a href="{% url 'forum:forum_delete' forum.id %}">D</a>
  {% endif %}
</aside>

  <h4>
    Comentarios:
  </h4>
<div>
  {% if comments %}
     {% for comment in comments %}
      <div style="margin-bottom: 10px;">
        <p style="margin: 0; padding: 0; border-left: 5px solid transparent;">{{ comment.text }}</p>
        <small style="margin: 0; padding: 0; color: gray;">
          {{ comment.owner.username }} - {{ comment.created_at|naturaltime }}
        </small>
        {% if comment.owner == request.user %}
        <nav>
          <a href="{% url 'forum:comment_update' comment.id %}">E</a>
          <a href="{% url 'forum:comment_delete' comment.id %}">D</a>
        </nav>
        {% endif %}
      </div>
    {% endfor %}
  {% else %}
    <p>No hay comentarios todavía.</p>
  {% endif %}
</div>

<form action="{% url 'forum:comment_create' forum.id %}" method="post">
  {% csrf_token %}
  {{ CommentForm.as_p }}
  <input type="submit" value="Submit">
  <input onclick="window.location.href='{% url 'forum:forum_detail' forum.id %}'" type="button" value="Cancel">
</form>

{% endblock %}