{% extends "base.html" %}
{% load tailwind_filters %}
{% block content %}
<div class="max-w-md mx-auto mt-16 dark:bg-gray-900 p-6 bg-white rounded-lg shadow-md">
  <form action="" method="post" enctype="multipart/form-data" id="forum_form" class="space-y-6">
    {% csrf_token %}
    {{ form|crispy }}

    <div class="flex justify-between">
      <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded transition">
        Someter
      </button>
      <button type="button" onclick="window.location.href='{% url 'forum:all' %}'" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded transition">
        Cancelar
      </button>
    </div>
  </form>
</div>
{% endblock %}