{% extends 'base.html' %}
{% load humanize %}
{% block title %}Details{% endblock %}

{% block content %}
<div class="forum-container">
  <h3>{{forum.title | capfirst }}</h3>
  <small class="meta">{{ forum.owner.username }}</small> |
  <small class="meta">{{forum.updated_at| naturaltime }}</small>
</div>
<aside>
  {% if forum.owner == request.user %}
  <div style="margin-top: 10px;">
    <a href="{% url 'forum:forum_update' forum.id %}">E</i></a> |
    <a href="{% url 'forum:forum_delete' forum.id %}">D</a>
  </div>
  {% endif %}
</aside>

  <h4>
    Comentarios:
  </h4>

<form action="{% url 'forum:comment_create' forum.id %}" method="post">
  {% csrf_token %}
  {{ CommentForm.as_p }}
  <input type="submit" value="Submit">
  <input onclick="window.location.href='{% url 'forum:forum_detail' forum.id %}'" type="button" value="Cancel">
</form>
<br>
<div class="comment-container">
  {% if comments %}
  {% for comment in comments %}
      <div>
        <p>{{ comment.text | capfirst }}</p>
        <p class="meta">
          {{ comment.owner.username }} - {{ comment.created_at|naturaltime }}
        </p>

        {# Display replies to this specific comment #}
        <div class="reply-container">
          {% if comment.replies.all %}
            {% for reply in comment.top_replies %}
            <p>{{ reply.text }}</p>
            <p class="meta">
              Reply by {{ reply.owner.username }} on {{ reply.created_at| naturaltime }}
            </p>
          {% if reply.owner == request.user %}
            <div>
              <a href="{% url 'forum:reply_update' forum.id reply.id %}">E</a> |
              <a href="{% url 'forum:reply_delete' forum.id reply.id %}">D</a>
            </div>
          {% endif %}
          {% endfor %}
          {% endif %}

          {# I will add the link to see all replies with the comment on here #} }

        </div>
        <div>
          <form action="{% url 'forum:reply_create' forum.id comment.id %}" method="post">
            {% csrf_token %}
            {{ ReplyForm.as_p }}
            <input type="submit" value="Submit">
            <input onclick="window.location.href='{% url 'forum:forum_detail' forum.id %}'" type="button" value="Cancel">
          </form>
        </div>
        {% if comment.owner == request.user %}
        <div style="margin-top: 10px;">
          <a href="{% url 'forum:comment_update' comment.id %}">E</a>
          <a href="{% url 'forum:comment_delete' comment.id %}">D</a>
        </div>
        {% endif %}
      </div>
  {% endfor %}
  {% else %}
    <p>No hay comentarios todavía.</p>
  {% endif %}
</div>

{% endblock %}