<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Nosotros{% endblock %}</title>
</head>
<body>
  <nav>
    <a href="{% url 'home:about_page' %}">Nosotros</a>
    <a href="{% url 'home:more_page' %}">Mas+</a>
    <a href="{% url 'home:contact_page' %}">Contactos</a>
    <h1><a href="{% url 'home:home' %}"><img src="home/logo.png" alt="Logo de tuCuotaRD" width="100" height="100"></a></h1>
  </nav>
<main id="content">
  {% block content %} {% endblock %}
</main>
</body>
</html>