{% extends "base.html" %}

{% block content %}
<div class="max-w-lg mx-auto mt-16 p-6 bg-white rounded-lg shadow-md">
  <h3 class="text-2xl font-semibold text-gray-800 mb-4 text-center">
    Solicitud de restablecimiento de cuenta
  </h3>
  <p class="text-gray-600 text-center">
    Si la dirección ingresada está registrada, recibirás un correo con el enlace para restablecer la contraseña.
    Revisa tu bandeja de entrada. Te enviamos un email con instrucciones para cambiar tu contraseña.
  </p>
</div>
{% endblock %}