{% extends "base.html" %}

{% block content %}

{# Django provides its own views and URL path for log in, you need to provide an error and the form. #}

{% if form.errors %}
  <p>Tu nombre de usuario y contraseña no coinciden. Por favor, inténtalo de nuevo.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Tu cuenta no tiene acceso a esta página. Para continuar, inicia sesión con una cuenta que tenga acceso.</p>
    {% else %}
    <p>Por favor, inicia sesión para ver esta página.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
<div>
    <p>¿Olvidaste tu contraseña?</p>
    <a href="{% url 'password_reset' %}">Recuperar contraseña</a>
</div>
<div>
    <h3>¿Todavía no tienes una cuenta?</h3>
    <p><a href="{% url 'accounts:sing_up' %}">Registrate</a></p>
</div>

{% endblock %}
