{% extends 'base.html' %}

{% block title %}Bank{% endblock title %}

{% block content %}
<h1>Préstamos bancarios</h1>
  <p>Préstamos bancarios son financiamientos otorgados por instituciones financieras
    reguladas, como bancos múltiples o asociaciones de ahorro y préstamo, que permiten a
    personas o empresas acceder a una suma de dinero a cambio de
    pagarla en cuotas mensuales, incluyendo intereses, durante un período determinado.</p>
  <main>
    <h2>Características comunes de los préstamos bancarios en RD:</h2>
      <ul>
        <li><strong>Interés fijo o variable</strong> (según el tipo de préstamo)</li>
        <li><strong>Cuotas mensuales</strong> (usualmente bajo sistema francés de amortización)</li>
        <li><strong>Plazos variados</strong> (desde 6 meses hasta 20 años o más)</li>
        <li><strong>Requisitos:</strong> historial crediticio, ingresos comprobables, garantía en algunos casos</li>
        <li><strong>Regulados por:</strong>
          <a href="https://www.sb.gob.do/" target="_blank">la Superintendencia de Bancos (SB) y sujetos a normas de la Junta Monetaria</a>
        </li>
      </ul>
  </main>
<div id = "bank_form">
  <form method="POST">
  {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Calcular">
  </form>
</div>

{% if result %}
<div class="summary">
    <h3>Resultado:</h3>
    <p>
      La cuota mensual sería de:<br>
      <strong>${{ result.month_pay|floatformat:2 }}</strong>
      Considerando un monto de <strong>${{ result.loan_amount_total |floatformat:2 }}</strong>
      a una tasa de interés de <strong>{{ result.interest_rate }}%</strong>
      por un plazo de <strong>{{ result.months }}</strong> meses.
    </p>
  </div>

<table>
    <thead>
        <tr>
            <th>Mes</th>
            <th>Pago</th>
            <th>Aporte</th>
            <th>Interés</th>
            <th>Balance</th>
        </tr>
    </thead>
    {% for row in result.schedule %}
    <tbody>

        <tr>
            <td>{{ row.month }}</td>
            <td>${{ row.monthly_payment }}</td>
            <td>${{ row.principal }}</td>
            <td>${{ row.interest }}</td>
            <td>${{ row.remaining_balance }}</td>
        </tr>

    </tbody>
  {% endfor %}
</table>

{% endif %}

    <section class="notes">
      <h4>Los resultados de esta simulación son aproximados.</h4>
        <ul>
          <li>
            <h5>Variaciones en las tasas de interés</h5>
              <p>Los bancos pueden tener tasas promocionales, tasas variables, o cambiar condiciones sin previo aviso.</p>
          </li>
          <li>
            <h5>Comisiones y cargos ocultos</h5>
              <p>Algunos préstamos incluyen cargos por apertura, seguros obligatorios o
                gastos legales que no siempre se reflejan en el interés nominal.</p>
          </li>
          <li>
            <h5>Cambios en condiciones del préstamo</h5>
              <p>Si haces pagos adelantados, reestructuraciones o cancelaciones anticipadas, el cálculo se modifica.</p>
          </li>
          <li>
            <h5>En caso de ser un préstamo hipotecario</h5>
              <p>En caso de préstamos hipotecarios, la cuota mensual aumentaría producto del seguro
                de vida y de propiedad, no incluidos en el cálculo.</p>
          </li>
        </ul>
    </section>





{% endblock  %}