{% extends 'base.html' %}
{% load humanize %}

{% block title %}No bank detail{% endblock title %}


{% block content %}

<div class="container">

  <div class="sidebar-left">

  </div>

  <div class="main-content">

    {% if no_bank_loans %}
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Pagos mensuales</th>
          <th>Intereses mensuales</th>
          <th>Monto del préstamo</th>
        </tr>
      </thead>

      <tbody>
      {% for loan in no_bank_loans %}

      <tr>
        <td><a href="{% url 'loan:no_bank_detail' loan.id %}">{{ loan.name }}</a></td>
        <td>${{ loan.monthly_payment|intcomma }}</td>
        <td>{{ loan.interest_rate }}%</td>
        <td>${{ loan.loan_amount|intcomma }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
      {% else %}
    <p>Aún no has registrado ningún préstamo no bancario.</p>
    {% endif %}
  </div>

  <div class="main-content">
    {% if bank_loans %}
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Pagos mensuales</th>
          <th>Intereses mensuales</th>
          <th>Monto del préstamo</th>
          <th>Meses pagos</th>
        </tr>
      </thead>

      <tbody>
      {% for loan in bank_loans %}

      <tr>
        <td>{{ loan.name }}</td>
        <td>${{ loan.monthly_payment|intcomma }}</td>
        <td>{{ loan.interest_rate }}%</td>
        <td>${{ loan.loan_amount|intcomma }}</td>
        <td>{{ loan.month_paid }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
      {% else %}
    <p>Aún no has registrado ningún préstamo bancario.</p>
    {% endif %}
  </div>

</div>
{% endblock %}
