{% extends 'base.html' %}

{% block title %}Register No Loan{% endblock title %}


{% block content %}

<div class="container">

  <div class="sidebar-left">

  </div>

  <div class="main-content">

    {% if form.non_field_errors %}
      <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
          <p style="color: red;">{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}

    {% if no_loans %}
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Pagos mensuales</th>
          <th>Monto del préstamo</th>
          <th>Intereses mensuales</th>
        </tr>
      </thead>

      <tbody>
      {% for loan in no_loans %}
      <tr>
        <td>{{ loan.name }}</td>
        <td>{{ loan.monthly_payment }}</td>
        <td>{{ loan.loan_amount }}</td>
        <td>{{ loan.interest_rate }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
      {% else %}
    <p>Aún no has registrado ningún préstamo.</p>
    {% endif %}
  </div>

</div>
{% endblock %}
