{% extends 'base.html' %}

{% block title %}Registrar Préstamo{% endblock title %}

{% block content %}

<div class="container  mx-auto px-4 py-12">
  <div class="max-w-3xl  mx-auto bg-white dark:bg-gray-900 rounded-lg shadow p-8">
    <h2 class="text-3xl flex justify-center font-bold dark:text-white mb-4 text-gray-800">Registra tu préstamo</h2>
    <p class="mb-6 flex justify-center dark:text-gray-400 text-gray-700">
      Te ayudamos a llevar el control de tus préstamos
      <strong class="font-semibold">bancarios</strong> y <strong class="font-semibold">no bancarios</strong>.
    </p>
    <h4 class="text-xl flex justify-center dark:text-white font-semibold mb-6 text-gray-800">¿Qué tipo de préstamo deseas registrar?</h4>

    <nav class="space-x-6 flex justify-center">
      <a href="{% url 'loan:create_nobank' %}"
         class="inline-block bg-blue-600 text-white dark:text-white px-6 py-3 rounded hover:bg-blue-700 transition">
         Préstamo no Bancario
      </a>
      <a href="{% url 'loan:create_bank' %}"
         class="inline-block bg-green-600 text-white px-6 py-3 rounded hover:bg-green-700 transition">
         Préstamo Bancario
      </a>
    </nav>
  </div>
</div>
{% endblock content %}